.tech-skills {
    display: flex;
    align-items: center;
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #FFF;
}

.tech-skills .icon {
    margin-right: 25px;
    width: 90px;
}

.tech-skills .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tech-skills .title {
    margin-bottom: 10px;
}